body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: transparent url(../public/image/fond-page.png) no-repeat center/100% 100%;
  background-size: cover;
}

.texte{
  font-size: 3px;
}
.texte1{
  font-size: 5px;
 
}
.rempli{
background: url(../public/image/fond-carte.jpg) no-repeat center/100% 100% ;   
}

.card{
  box-shadow: 0px 0px 0px 10px #CCCCCC;
  
}
.logo{
  max-width: 19rem;
}
.carteAlea{
  min-height: 600px;
  justify-content: center;
  
}
.vide{
  max-height: 17rem ;
  min-height: 17rem;
  width: 10rem !important;
  
}
.cartechoisis{
  width: 10rem !important;
  min-height: 17rem;
  max-height: 17rem;
  font-size: 3px;
}

.cartealeatoir{
  width: 19.5rem !important;
  height: 26rem !important;
}
.cartealeatoir image{
  max-height: 30%;
}





@media only screen and (max-width:768px){
  .gauche{
      order: 2;
     
  }
  .droite{
      order: 3;    
  }
  .milieu{
      order: 1;
   
  }
  .choisi{
      max-width: 150px;
     
  }
  h3{
      font-size: 5px;
  }  
  
}